.certs/
.development/
.venv/
.venv*/
.vscode/
build/
dist/
docs/
rust-query-crlite/
src/
.secrets.baseline
.autoenv_leave.zsh
.autoenv.zsh
.env
.env-example
.git
.gitattributes
.gitignore
.gitlab-ci.yml
LICENSE
Makefile
.pre-commit-config.yaml
.pylintrc
pyproject.toml
README.rst
requirements-dev.txt
runtime.txt
