[REPORTS]
output-format=parseable
reports=no

[MESSAGES CONTROL]
disable=too-many-lines,logging-fstring-interpolation,missing-function-docstring,missing-module-docstring,missing-class-docstring,broad-except,too-many-instance-attributes

[LOGGING]
logging-format-style=new

[FORMAT]
max-line-length=200
