# tlstrust deps
cryptography>=2.0
certifi
asn1crypto
pyOpenSSL
rich
validators
idna
# trivialscan deps
tlstrust==2.6.4
certvalidator
dnspython
h2==4.1.0
hpack==4.0.0
oscrypto
requests==2.27.1
urllib3==1.26.9
appdirs==1.4.4
attrs==21.4.0
cattrs==1.10.0
requests-cache==0.9.4
url-normalize==1.4.3
retry
tldextract
pyyaml
art
keyring==23.6.0
secretstorage==3.3.2
deepdiff
pycryptodome==3.15.0
beautifulsoup4==4.11.1
pynput==1.7.6
