# tlstrust deps
cryptography
certifi
asn1crypto
pyOpenSSL
rich
validators
idna
# trivialscan deps
tlstrust==2.6.3
certvalidator
dnspython
hyperframe
moz-crlite-query
oscrypto
progressbar2
requests
retry
tldextract
urllib3
pyyaml
